.title
{
    margin-left: 250px;
    width: 1300px;
    padding: 15px;
}

.card_section
{
    
    padding: 10px;
    /* display: flex; */
    margin-left: 200px;
    /* width:900px; */
}

.card
{
    background-clip: none;
    border: 0ch;
}


.footer
{
    width: 500px;
    height:300px;
}

.main
{
    width: 1500px;
    height: 3000px;
    display: flex;
}