.photo{
  /* margin-left: 620px; */


  margin-top: 20px;
  display: flex;
  /* width:900px; */
  height: 420px;

  align-content: center;
  justify-content: center;
  /* align-items: center; */
  } 


 img{
  padding: 50px;
   
}