body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_wrapper
{
    width: 100% !important;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.photo_wrapper
{
  width: 50% !important;
  /* border: 1px solid black; */

}

.box_wrapper

{
  display: flex;
  flex-direction: column;
  width: 50% !important;
  text-align: justify;
  /* border: 1px solid black; */
  /* align-content: center; */
  
}
.experience_wrapper
{
  display: flex;
  flex-direction: column;
  width: 50% !important;
  /* text-align: justify; */
}

.coursework_wrapper
{
  width: 50% !important;
  text-align: left !important;

}
.coursework_wrapper .andar
{
text-align: left;
}

.topbar
{
  display: flex;
  height: 12vh;
  align-items: center;

}
.topbar > nav
{
  height: 12vh;
  background-color: #0abd8a;
  color: black;
}

.topbar > nav > div
{
  margin-top: 20px;
}

.topbar_buttons button
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}


@media screen and (max-width: 480px) {
  .box_wrapper,.experience_wrapper,.coursework_wrapper {
    width: 65% !important;
  }
}